---
title: "[ˈflɛmma]"
layout: default
id: about
---
<header>
  <a href="/"><h1>[ˈflɛmma]</h1></a>
</header>
<div id="spiega">
<div><span>[ˈflɛmma]: s. f. [from gr. ϕλέγμα, der. of ϕλέγω «to burn, to be inflamed»]. - 1 One of the four fundamental elements that were believed to constitute an organism. It emanated from the brain and was considered cold. Its relation to the other three elements was the basis of the so-called “phlegmatic temperament”.
Founded in 2020 in Berlin by Martina della Valle and Federico Maddalozzo, Flemma blends visual and conceptual research, artisanal knowledge, sculpture, and art experience into photographic images.
Flemma is an Italian word for calmness and imperturbability. The phlegmatic attitude considers time in an analogic and hand-crafted approach which pays special attention to the details.<span>
</div></div>
<footer>
<div class="icon"> {% include instagram.svg %} </div>
<div class="icon"> {% include email.svg %} </div>
</footer>
